<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
    <div align="center">
        <h1>Человек</h1>
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
            </thead>
            <tbody>
                <tr th:each="man : ${lastNameList}">
                    <td th:text="${man.id}">Id</td>
                    <td th:text="${man.lastName}">LastName</td>
                    <td th:text="${man.man_id}">Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>