<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
    <div align="center">
        <h1>Человек</h1>
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Имя</th>
            </thead>
            <tbody>
                <tr th:each="man : ${manList}">
                    <td><span th:text="${man.id}"> Title </span></td>
                    <td><span th:text="${man.firstName}"> Author </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>